/* .rainbow:nth-child(odd) {
    color: blue
}

.rainbow:nth-child(even) {
    color: red
} */

#a1 {
    color: red
}

#a2 {
    color: orange
}

#a3 {
    color: green
}

#a4 {
    color: blue
}

#a5 {
    color: indigo
}

#a6 {
    color: violet
}

#a7 {
    color: fuchsia
}

#a8 {
    color: white
}

#a9 {
    color: black
}

#a10 {
    color: fuchsia
}

/* ============================================================================================= */

.itty {
    display: inline
}

.itty10 {
    color: red
}

.itty9 {
    color: orange
}

.itty8 {
    color: green
}

.itty7 {
    color: blue
}

.itty6 {
    color: indigo
}

.itty5 {
    color: violet
}

.itty4 {
    color: fuchsia
}

.itty3 {
    color: white
}

.itty2 {
    color: black
}

#.itty1 {
    color: fuchsia
}

/* ============================================================================================= */
p {
    display: inline;
}

body {
    display: block;
    width: 95%;
    background-color: rgba(193, 189, 189, 0.80) !important;
    /* ^!important over rides bootstrap defaults^ */
}

html {
    background-color: white !important;
    /* ^!important over rides bootstrap defaults^ */
}

.block {
    display: block;
}